
/* Tiles */

.banner {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    postiion: relative;
    margin: -2.5em 0 0 -2.5em;
}

    .banner article {
        -moz-transition: -moz-transform 0.5s ease, opacity 0.5s ease;
        -webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
        -ms-transition: -ms-transform 0.5s ease, opacity 0.5s ease;
        transition: transform 0.5s ease, opacity 0.5s ease;
        position: relative;
        width: calc(33.33333% - 2.5em);
        margin: 2.5em 0 0 2.5em;
    }

        .banner article > .banimage {
            -moz-transition: -moz-transform 0.5s ease;
            -webkit-transition: -webkit-transform 0.5s ease;
            -ms-transition: -ms-transform 0.5s ease;
            transition: transform 0.5s ease;
            position: relative;
            display: block;
            width: 200%;
            border-radius: 2px;
            overflow: hidden;
        }

            .banner article > .banimage img {
                display: block;
                width: 100%;
            }


        .banner article > a {
            display: -moz-flex;
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            -moz-flex-direction: column;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            -moz-align-items: center;
            -webkit-align-items: center;
            -ms-align-items: center;
            align-items: center;
            -moz-justify-content: center;
            -webkit-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
            -moz-transition: background-color 0.5s ease, -moz-transform 0.5s ease;
            -webkit-transition: background-color 0.5s ease, -webkit-transform 0.5s ease;
            -ms-transition: background-color 0.5s ease, -ms-transform 0.5s ease;
            transition: background-color 0.5s ease, transform 0.5s ease;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1em;
            border-radius: 4px;
            border-bottom: 0;
            color: #ffffff;
            text-align: center;
            text-decoration: none;
            z-index: 3;
        }

            .banner article > a > :last-child {
                margin: 0;
            }

            .banner article > a:hover {
                color: #ffffff !important;
            }

            .banner article > a h2 {
                margin: 0;
            }

  

                .banner article > a .content > :last-child {
                    margin-bottom: 0;
                }


        body:not(.is-touch) .banner article:hover > .banimage {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
        }

            body:not(.is-touch) .banner article:hover > .banimage:before {
                background-color: #333333;
                opacity: 0.35;
            }

            body:not(.is-touch) .banner article:hover > .banimage:after {
                opacity: 0;
            }

        body:not(.is-touch) .banner article:hover .content {
            max-height: 15em;
            opacity: 1;
        }




    @media screen and (max-width: 1280px) {

        .banner {
            margin: -1.25em 0 0 -1.25em;
        }

            .banner article {
                width: calc(33.33333% - 1.25em);
                margin: 1.25em 0 0 1.25em;
            }

    }

    @media screen and (max-width: 980px) {

        .banner {
            margin: -2.5em 0 0 -2.5em;
        }

            .banner article {
                width: calc(50% - 2.5em);
                margin: 2.5em 0 0 2.5em;
            }

    }

    @media screen and (max-width: 736px) {

        .banner {
            margin: -1.25em 0 0 -1.25em;
        }

            .banner article {
                width: calc(50% - 1.25em);
                margin: 1.25em 0 0 1.25em;
            }

                .banner article:hover > .banimage {
                    -moz-transform: scale(1.0);
                    -webkit-transform: scale(1.0);
                    -ms-transform: scale(1.0);
                    transform: scale(1.0);
                }

    }

    @media screen and (max-width: 480px) {

        .banner {
            margin: 0;
        }

            .banner article {
                width: 100%;
                margin: 1.25em 0 0 0;
            }

    }